// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body > header {
  background-image: url('http://www.tcias.co.uk/assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  h1 {
    padding-left: 2.20em;
  }
  h2 {
    padding-left: 5em;
  }
}
body > nav {

  form {
    .search {
      background-color: lighten($header-bg, 15);
    }
  }
}